@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --z-depth-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    --font-family: 'Roboto', sans-serif;
}

* {
    font-family: var(--font-family);
}

.z-depth-1 {
    -webkit-box-shadow: var(--z-depth-1);
    box-shadow: var(--z-depth-1);
}
.txt-shadow {
    text-shadow: 1px 0 2px rgba(0, 0, 0, 1);
}

.card-facebook {
    background-color: #4267B2;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-linkedin {
    background-color: #2867B2;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-twitter {
    background-color: #1DA1F2;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-google {
    background-color: #DB4437;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-snapchat {
    background-color: #FFFC00;
    color: #000000;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}
.card-tiktok {
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--z-depth-1);
}

.container3 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.container4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-ajust {
    height: auto;
    width: 100%;
}

.btn-select::-ms-expand {
    display: none;
}
.btn-select{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    bottom: 30px;
    right: 15px;
}
.card-content:hover .btn-select{
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}

.card-content {
    transition: all 0.3s;
}
.card-facebook .card-content:hover .card-header input {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content .card-header input {
    outline: 0;
    width: 100%;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content .card-header input:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content .card-header input::placeholder {
    color: #4267B2;
    font-weight: 500;
}

.card-content input[type="file"] {
    display: none;
}
.card-content .user-block label{
}
.user-block label {
    float: left;
}
.user-block .icon-img {
    position: absolute;
    font-size: 18px;
    padding: 10px;
    padding-bottom: 12px;
    opacity: 0;
    transition: all 0.3s;
    border: 2px dashed transparent;
}
.card-content:hover .icon-img {
    opacity: 1;
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    padding-right: 7px;
    padding-bottom: 10px;
    font-weight: 300;
    cursor: pointer;
    border: 2px dashed #ffffff;
}

.card-facebook .card-content:hover textarea {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content textarea {
    outline: 0;
    width: 100%;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content textarea:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-facebook .card-content textarea::placeholder {
    color: #0a0e14;
    font-weight: 300;
}

.card-content .icon-content .icon-img {
    position: absolute;
    left: 45%;
    top: 35%;
    font-size: 30px;
    padding: 15px;
    transition: all 0.3s;
    border: 2px dashed #ffffff;
    font-weight: 300;
    opacity: 0;
}
.card-content:hover .icon-content {
    cursor: pointer;
}
.card-content:hover .icon-content .icon-img {
    opacity: 1;
}

.card-content:hover .linkPage {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .linkPage {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 75%;
}
.card-content .linkPage:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .linkPage::placeholder {
    color: #0a0e14;
    font-weight: 300;
}

.card-content:hover .titlePage {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .titlePage {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-content .titlePage:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .titlePage::placeholder {
    color: #0a0e14;
    font-weight: 400;
}

.card-content:hover .titleDescription {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .titleDescription {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-content .titleDescription:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-content .titleDescription::placeholder {
    color: #0a0e14;
    font-weight: 400;
}

.card-tiktok .icon-img {
    position: absolute;
    top: 20%;
    right: 20%;
    opacity: 0;
    transition: all 0.3s;
    font-weight: 300;
}
.card-tiktok:hover .icon-img {
    position: absolute;
    top: 10%;
    right: 10%;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
}


.card-tiktok:hover .username {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .username {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;

    position: absolute;
    bottom: 29.2%;
    left: 5%;
    width: 90px;

}
.card-tiktok .username:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .username::placeholder {
    color: #ffffff;
    font-weight: 300;
}

.card-tiktok .time {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;

    position: absolute;
    bottom: 29.2%;
    left: 33%;
    width: 70px;

}
.card-tiktok:hover .time {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .time:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .time::placeholder {
    color: #ffffff;
    font-weight: 300;
}

.card-tiktok .description {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;

    position: absolute;
    bottom: 26.5%;
    left: 5%;
    width: 200px;

}
.card-tiktok:hover .description {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .description:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .description::placeholder {
    color: #ffffff;
    font-weight: 300;
}

.card-tiktok .hashtags {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 12px;
    position: absolute;
    bottom: 24%;
    left: 5%;
    width: 200px;
}
.card-tiktok:hover .hashtags {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .hashtags:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.card-tiktok .hashtags::placeholder {
    color: #ffffff;
    font-weight: 300;
}

.card-tiktok .link-translation {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 11px;
    position: absolute;
    bottom: 21.5%;
    left: 5%;
    width: 200px;
}
.card-tiktok .txt-original {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;

    position: absolute;
    bottom: 18.3%;
    left: 5%;
    width: 200px;
}

.card-tiktok .icon-img-bg {
    position: absolute;
    top: 25%;
    left: 45%;
    opacity: 0;
    transition: all 0.3s;
    font-weight: 300;
    border: 2px dashed #ffffff;
    font-size: 23px;
    padding: 10px;
    cursor: pointer;
}
.card-tiktok:hover .icon-img-bg {
    position: absolute;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
}

.bg-tiktok {
    background-image: url("../assets/images/img-footer-tiktok.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.google-card .headline {
    outline: 0;
    padding: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 19px;
    min-width:90px !important;
    max-width:280px !important;
    transition: all 0.3s;
}
.google-card:hover .headline {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .headline:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .headline::placeholder {
    color: #4267B2;
    font-weight: 400;
}

.google-card .icon-img {
    position: absolute;
    opacity: 0;
    font-size: 10px;
    padding: 5px !important;
    transition: all 0.3s;
}

.google-card .pathPage {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 45%;
    font-size: 15px;
    margin-right: 15px;
    color: #1e7e34;
    height: 25px;
}
.google-card:hover .pathPage {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .pathPage:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .pathPage::placeholder {
    color: #1e7e34;
    font-weight: 400;
}

.google-card .callPage {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 25%;
    font-size: 15px;
    color: #1e7e34;
    height: 25px;
}
.google-card:hover .callPage {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callPage:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callPage::placeholder {
    color: #1e7e34;
    font-weight: 400;
}

.google-card:hover .description {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .description {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
}
.google-card .description:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .description::placeholder {
    color: #0a0e14;
    font-weight: 300;
}

.google-card .callout {
    outline: 0;
    padding: 0;
    margin: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 15px;
    min-width:50px !important;
    max-width:280px !important;
    transition: all 0.3s;
    box-shadow: none;
}
.google-card:hover .callout {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callout:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callout::placeholder {
    font-weight: 400;
}

.google-card .brands-select::-ms-expand {
    display: none;
}
.google-card .brands-select{
    -webkit-appearance: none;
    appearance: none;
    min-width:50px !important;
    transition: all 0.3s;
    outline: 0;
    padding: 0;
    margin: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 15px;
    box-shadow: none;
}
.google-card:hover .brands-select{
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .brands-select:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}

.google-card .brands {
    outline: 0;
    padding: 0;
    margin: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    font-size: 15px;
    min-width:50px !important;
    max-width:280px !important;
    transition: all 0.3s;
    box-shadow: none;
    color: grey;
}
.google-card:hover .brands {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .brands:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .brands::placeholder {
    font-weight: 400;
}

.google-card .sitelink {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
}
.google-card:hover .sitelink {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .sitelink:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .sitelink::placeholder {
    color: #4267B2;
    font-weight: 400;
}

.google-card .sitelinkDesc {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
}
.google-card:hover .sitelinkDesc {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .sitelinkDesc:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .sitelinkDesc::placeholder {
    color: grey;
    font-weight: 300;
}

.google-card:hover .description2 {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .description2 {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: auto;
}
.google-card .description2:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .description2::placeholder {
    color: #0a0e14;
    font-weight: 300;
}

.google-card .callPage2 {
    outline: 0;
    padding: 0;
    transition: all 0.3s;
    border-color: transparent;
    border-style: dashed;
    border-width: 1px;
    background-color: transparent;
    width: 25%;
    font-size: 15px;
    color: #1e7e34;
    height: 25px;
}
.google-card:hover .callPage2 {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callPage2:focus {
    border-color: #6c757d;
    border-style: dashed;
    border-width: 1px;
}
.google-card .callPage2::placeholder {
    color: grey;
    font-weight: 400;
}